<app-timer-detail
  [startShown]="true"
  [startTimeVal]="_timerService.longFlowCycleTotalTimeSeconds"
  [speakerName]="longFlowCycleTimerName"
  [isHumanSpeaker]="false"
  (timerDetailEventEmitter)="timerDetailEventHandler($event)"
></app-timer-detail>
<h2 class="flow-cycle-count">
  Flow Cycle: {{ _timerService.currentFlowCycle + 1 }}
</h2>
<button
  class="flow-cycle-toggle"
  mat-button
  mat-raised-button
  color="secondary"
  (click)="nextFlowCycle()"
>
  Next short cycle
</button>
<br />

<div class="cycle-time">
  <mat-form-field appearance="fill">
    <mat-label>Set long flow cycle time</mat-label>
    <mat-select
      [(ngModel)]="selectedCycleTime"
      (selectionChange)="cycleTimeSelection($event)"
    >
      <mat-option
        *ngFor="let cycleTime of cycleTimes"
        [value]="cycleTime.value"
        >{{ cycleTime.label }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<div class="speaking-time">
  <mat-form-field appearance="fill">
    <mat-label>Set speaking time</mat-label>
    <mat-select
      [(ngModel)]="selectedSpeakingTime"
      (selectionChange)="speakingTimeSelection($event)"
    >
      <mat-option
        *ngFor="let speakingTime of speakingTimes"
        [value]="speakingTime.value"
        >{{ speakingTime.label }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<app-timer-overview></app-timer-overview>
<mat-form-field class="add-speaker-formfield" appearance="fill">
  <mat-label>Add speaker</mat-label>
  <input matInput type="text" [(ngModel)]="newPerson" />
</mat-form-field>

<button
  class="add-speaker-button"
  mat-button
  mat-raised-button
  color="primary"
  [disabled]="newPerson.length === 0"
  (click)="addPerson(newPerson)"
>
  Add
</button>

<div class="total-overview">
  <h1>Total:</h1>
  <div *ngFor="let timeItem of _timeOverViewDict | keyvalue">
    <b>{{ timeItem.key }}: {{ getOverViewTime(timeItem.value) }} </b>
  </div>
</div>
