<app-timer-detail
  [startShown]="true"
  [startTime]="60 * 60 * 1.5"
  [speakerName]="'Long flow cycle'"
  (timerDetailEventEmitter)="timerDetailEventHandler($event)"
></app-timer-detail>
<h2 class="flow-cycle-count"> Flow Cycle: {{_timerService.currentFlowCycle}}</h2>
<button
  class="flow-cycle-toggle"
  mat-button
  mat-raised-button
  color="secondary"
  (click)="nextFlowCycle()"
>
  Next short cycle
</button>

<div class="total-overview">
  <h1>Total:</h1>
  <div *ngFor="let timeItem of _timeOverViewDict | keyvalue">
    <b >{{timeItem.key}}: {{getOverViewTime(timeItem.value)}} </b>
  </div>
</div>
<app-timer-overview></app-timer-overview>
